

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
  version="4.0">

  <servlet>
      <servlet-name>
          OnlineResume
      </servlet-name>
      <servlet-class>
          servlets.OnlineResume
      </servlet-class>
  </servlet>
  <!-- The mapping for the default servlet -->
    <servlet-mapping>
        <servlet-name>OnlineResume</servlet-name>
        <url-pattern>/MyResume</url-pattern>
    </servlet-mapping>

    <!-- The mappings for the JSP servlet -->
<!--     <servlet-mapping>
        <servlet-name>jsp</servlet-name>
        <url-pattern>*.jsp</url-pattern>
        <url-pattern>*.jspx</url-pattern>
    </servlet-mapping> -->
</web-app>